.root
  display flex
  flex-direction column
  justify-content flex-end
  height calc(100 * var(--vh))

  & button
    background-color transparent !important
    animation fadeToDefaultColorOnce 1s ease-in-out

    &:active
      animation none

    & + &
      margin-left 5px


.header
  z-index 1
  position absolute
  top 0
  left 0
  display flex
  align-items center
  justify-content space-between
  width 100%
  padding var(--indent-m)
  padding-bottom 50px
  background-image linear-gradient(to bottom, var(--decent-color) 50%, transparent)

.message
  padding var(--indent-m)

  &:first-child
    margin-top 100px

  &:last-child
    margin-bottom 120px

  & + &
    margin-top var(--indent-m)

  &.user
    background-color var(--accent-color-alpha-100)


@keyframes fadeToDefaultColorOnce
  from
    color var(--active-color)
  to
    color var(--accent-color)
