.root
  perspective 1000px
  transform-style preserve-3d

.inner
  display flex
  flex-wrap wrap
  // transition transform .01s ease-out

.item
  margin var(--indent-s)
  min-width 300px
  min-height 225px

.createNodeButton
  display flex
  align-items cent+er
  justify-content center
