.root
  display flex
  flex-direction column
  justify-content flex-start
  height calc(100 * var(--vh))

.inner
  padding 80px 0 80px

.item
  display flex
  flex-direction column
  padding var(--indent-s) var(--indent-m)

.hint
  margin-top var(--indent-s)
  opacity .5
  font-size 60%

.input
.input label
  width 100%

.clearButton
  background-color var(--danger-color)


.modelOption
  display flex
  align-items center
  margin-bottom var(--indent-s)

.availableDot
  width 10px
  height 10px
  border-radius 50%
  background-color var(--active-color)
  margin-right var(--indent-s)

